*{margin: 0px; padding: 0px;}
header, body, footer { font-size: 14px; font-family: : 나눔고딕,굴림,돋음, serif; width: 100%;}
header, footer { text-align-last: center; background: #ebebe0;}
body { margin: auto;}
footer{ position: fixed; bottom: 0px; }

h1 { padding: 15px; font-size: 30px; color: #000000;}
h2 { font-size: 15px; color: #000000; }
h3 {margin: 10px; font-size: 15px; color: green; text-shadow: 4px 4px 7px green;}
h1,h2{background-image: url(bg.jpg); background-repeat: repeat-x;}

img { border: 0; padding: 2px; }

nav{margin: 5px 5px};

a{text-decoration: none; color: #000000;}
a:hover{color: #ff0000;}

nav ul { padding-top: 10px; }
nav ul li {	display: inline; border-left: 1px solid #999; font: bold 12px Dotum; padding: 0 10px;}
nav ul li: first-child{border-left: none;}


@media only screen and (min-width: 321px) and (orientation: landscape){
	section {width: 80%; float: left;}
	aside { width: 20%; text-align: center; float: right;}
	footer { clear: both; }
}

.content { clear: both; }
.section1 ul li { list-style:  }
.portal { width: 100px; }

#stu-pic { width: 6em; height: 8em; float: left; }

#year-table { table-layout: auto; width: 80%; border-collapse: separate; }
#year-table thead { background: #E4F2D0; }
#logo { position: fixed; top: 130px; left: 70px; opacity: 0.3% }

video { margin:  5px; width: 300px; height: 200px; }

.seml.pic { width: 4em; height: 3em; }
#pic-container { overflow: hidden; }
#pic-container:hover { height: 220px; }
#pic1 { width: 100px }
#pic2 { width: 100px }
#pic3 { width: 100px }
#pic1:hover { -webkit-transform: translate(150px,50px) scale(7,7); transform: : scale(0.5); }
#pic2:hover { -webkit-transform: translate(150px,50px) scale(7,7); transform: : scale(0.5); }
#pic3:hover { -webkit-transform: translate(150px,50px) scale(7,7); transform: : scale(0.5); }
